<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FuncTools</title>
    <link rel="stylesheet" href="static/mystyle.css">
</head>
<body>
<table id="header_table">
    <th id="header_row_menu" width="110"><img src="static/ico2.png" width="100" height="100"></th>
    <th id="header_row_menu"><h1>Integration Toolbox</h1></th>
    <th id="header_row_menu" width="110px"><a href="{{ url_for("index") }}">На главную</a></th>
</table>

{% block content %}{% endblock %}
</body>
</html>


